.social_list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
 
.social_list li {
    margin: 0 1em;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    color: red;
}

.social_list svg :hover {
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(0, 255, 221);
    transition: 500ms;
}